In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame()
df['a'] = [-1,-3,-4,-4,-3, 4,5,6]
df['b'] = [23,45,67,89,0,-1, 2, 3]

In [4]:
df

   a   b
0 -1  23
1 -3  45
2 -4  67
3 -4  89
4 -3   0
5  4  -1
6  5   2
7  6   3

In [5]:
L2 = [-1,-3,-4]
L5 = [9,10,11]

In [6]:
df

   a   b
0 -1  23
1 -3  45
2 -4  67
3 -4  89
4 -3   0
5  4  -1
6  5   2
7  6   3

In [6]:
import numpy as np
condition = [df['a'] == i for i in L2]
df['a'] = np.select(condition, L5, df['a'])

In [8]:
df

    a   b
0   9  23
1  10  45
2  11  67
3  11  89
4  10   0
5   4  -1
6   5   2
7   6   3

In [9]:
%%time
df['a'] = df['a'].map(dict(zip(L2, L5))).fillna(df['a'])

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 3.65 ms

In [10]:
df['a']

0     9.0
1    10.0
2    11.0
3    11.0
4    10.0
5     4.0
6     5.0
7     6.0
Name: a, dtype: float64